doctype html
html
  body
  .site-wrapper
    #pictureframe
      .bird-holder
      //#shadow
    .site-wrapper-inner
      .cover-container
        .inner.cover
          .twitterBox
          a.btn.btn-sm.btn-info(data-rel='myModal') Create Tree
          a.btn.btn-sm.btn-danger.disabled(data-rel='myModal') Destroy Child !
        p.lead
          small
            a(href='#') jade
            a(href='#') react
            a(href='#') node
            a(href='#') jsx
            a(href='#') babel
            a(href='#') es2015
            a(href='#') webpack
            a(href='#') bootstrap
            a(href='#') css3
            a(href='#') html5
  p.structure

  p.debugging ~/nathan$
  script(src='bundle.js')
